#teste {
    margin: 50px;
    color: red;
    font-weight: 600;
    text-align: center;
}
#teste1 {
    display: grid;
    grid-template-areas: 'teste1 teste1 teste1 ';
    justify-content: center;
    gap: 20px;
}
.teste2 {
        width: 200px;
        height:200px;

    box-shadow: 0px 0px 10px 5px #000000 ;
    border-radius: 5px;
    padding: 15px;
}

.teste3 {
    width: 100%;
}

.teste4 {
    width: 100%;
}

.test5 {
    justify-content: center;
    font-weight:900;
    padding-top:30%;
    margin:1px;
    text-align:center;
    align-items:center;
}
section{
    margin-bottom:250px;
}


