#gerenciamento {
    justify-content: center;
}

#secoes {
    width: 80%;
    height: 230px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: space-around;
}

.acesso {
    width: 200px;
    height: 80px;
    background-color: #85bef7;
    color: black;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 255);
}