#cadastroLivro{
    background-color: #001f3f;
    border-radius: 10px;
    padding:40px 35px 55px;
}
#areaRestoBotoes{
    display: flex;
    justify-content: center;
}
.form-select{
    margin-top: 15px;
}