#BuscasResul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#busca {
    margin-bottom: 50px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#totalResul p {
    width: 100%;
    text-align: center; 
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

#areaCardResul{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardResul {
    width: 100%;
    margin-top: 30px;
    height: 250px;
    background-color: #59aadd ;

    display: flex;
}

.cardResul img {
    height: 100%;
}

.infosCardResul {
    padding: 1% 2% 1% 2%;
    color: black;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.infosCardResul p{
    margin: 0;
    height: auto;
}

.enfase{
    font-size: 22px;
    font-weight: 600;
}

.simboloDisponibilidade {
    width: 20px;
    height: 20px;
}

.sinopse {
    width: 60%;
}

@media screen and (max-width: 420px) and (min-height: 320px)  {
    
  
    #alteracaoLivros {
      width: 100%;
    }
  
    #coluna1,
    #coluna2 {
      width: 100%;
    }
  
    #areaSinopse,
    #areaResto {
      width: 100%;
    }
  
    #areaRestoBotoes {
      grid-template-columns: 40% 40%;
    }
  
    .btn {
      width: 100px;
    }
  }
  