#BuscasResul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#busca {
    margin-bottom: 50px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#totalResul p {
    width: 100%;
    text-align: center; 
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

#areaCardResul{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardResul {
    margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: #59aadd ;

    display: flex;
}

.cardResul img {
    height: 100%;
}

.infosCardResul {
    padding: 1% 2% 1% 2%;
    color: black;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}

.infosCardResul p{
    margin: 0 10px 0 0;
    height: auto;
}

.enfase{
    font-size: 22px;
    font-weight: 600;
}

.simboloDisponibilidade {
    width: 20px;
    height: 20px;
}

.sinopse {
    width: 60%;
    line-height: normal;
}