body{
    top: auto;
    margin: auto;
    padding: auto;
    background-color: #f5f5f5   ;
}
.quase-tudo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
h1{
    color: aliceblue;
}
.wrapper{
    width: 750px;
    background-color: #001f3f;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 40px 35px 55px;
}
.wrapper h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #001f3f;

}
.input-box .input-field{
    position: relative;
    width: 45%;
    height: 50%;   
    margin: 15px 0 ;
}
.input-box .input-field input{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border: 2px solid rgba(255, 255,255,0.5);
    outline: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}
.input-box .input-field input::placeholder{
    color: black;
}
.input-box .input-field i {
    left: 15px;
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
}
.wrapper label{
    font-size: 15px;
    margin: 10px 0 25px;
    display: inline-block;
}
.wrapper label input{
    accent-color: white;
    margin-right: 10px;
}
.wrapper .botao {

    width: 100%;
    height: 45px;
    background: greenyellow;
    margin-bottom: 0%;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
@media screen and (max-width: 420px) and (min-height: 320px)  {
    .wrapper {
      width: 100%;
    }
  
    .input-box .input-field {
      width: 100%;
      margin: 10px 0;
    }
  
    .wrapper label {
      font-size: 13px;
      margin: 5px 0 10px;
    }
  
    .wrapper .botao {
      width: 100%;
      height: 35px;
      font-size: 14px;
    }
  }
  