header {
    width: 100%;
    height: 90px;
    background-color: #001f3f;
    padding: 15px 2% 15px 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacaoHeader {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.linkHeader {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
}

.logo {
    height: 70px;
}

.algoQueDeveServirComoLogo {
    display: flex;
    align-items: center;
}

.algoQueDeveServirComoLogo p{
    margin: 0 0 0 10px;
}