@media (min-width: 230px) and (min-height: 1000px) {
    #inicio {
      padding: 0 0 3vh 0;
    }
  
    #direita {
      background-image: url(../imagens/direita.svg);
    }
    #esquerda {
      background-image: url(../imagens/esquerda.svg);
    }
  
    #pesquisa {
      width: 100%;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #innerForm {
      width: 100%;
      padding: 0px 25% 0px 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    #carrosel {
      width: 100%;
    }
  }
  