#inicio {
    padding: 0 0 3vh 0;
}

#direita {
    background-image: url(../imagens/direita.svg);
}
#esquerda {
    background-image: url(../imagens/esquerda.svg);
}

#pesquisa {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloForm {
    margin: 20px 0px 18px 0px;
    font-weight: 600;
}

#innerForm {
    width: 100%;
    padding: 0px 25% 0px 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputsArea {
    display: flex;
}

.formInput {
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border: 1.5px #696969 solid;
    padding: 5px 7px 5px 7px;
}

#textInput {
    margin-right: 20px;
}

#formSubmit {
    width: 90px;
    height: 45px;
}