@media screen and (max-width: 420px) and (min-height: 320px) {
   
    .grupoCard {
      display: flex;
      justify-content: center;
    }
  
    
    .card {
      width: 450px;
      height: 320px;
      padding: 10px;
      margin: 0 10px;
      border: 1px solid black;
      border-radius: 15px;
      display: flex;
      background-color: #1f4369;
      flex-direction: row;
    }
  
    
    .card img {
      width: 45%;
    }
  
    .contCard {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .infosCards {
      color: white;
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .tituloCard {
      color: aliceblue;
      text-align: center;
      margin-top: 15px;
      width: 100%;
      font-size: 25px;
      font-weight: 600;
    }
  
    
    .innerClassInfos {
      width: 50%;
    }
  
    
    .tentativaEErro {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    
    .enfase {
      font-weight: 600;
      font-size: 18px;
    }
  }
  