body {
    margin: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100%;
    height: auto;
    padding: 6vh 10% 4vh 10%;
    background-color: #f5f5f5;
}

.titulo {
    margin: 20px 0px 18px 0px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}