body {
    margin: 0px;
    height: 100% auto;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100%;
    height: auto;
    padding: 3vh 7% 4vh 7%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin: 20px 0px 18px 0px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.inputsArea {
    display: flex;
}

.formInput {
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border: 1.5px #696969 solid;
    padding: 5px 7px 5px 7px;
}

.textInput {
    
    margin-right: 20px;
}

.formSubmit {
    width: 90px;
    height: 45px;
    font-weight: 600;
}

.alerta {
    width: 80%;
    height: auto;
    background-color: #ffe65b;
    border-radius: 3px;
    border: solid 2px #FFD700;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
}

.alerta p {
    font-size: 18px;
    width: 100%;
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 230px) and (min-height: 1000px) {
    section {
      padding: 3vh 2% 4vh 2%;
    }
  
    .titulo {
      font-size: 25px;
    }
  
    .inputsArea {
      flex-wrap: wrap;
    }
  
    .textInput,
    .formSubmit {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .textInput {
      margin-right: 0;
    }
  
    .formSubmit {
      width: 70px;
      height: 35px;
    }
  
    .alerta {
      width: 100%;
    }
  
    .alerta p {
      font-size: 16px;
    }
  }
  