body {
    margin: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100%;
    height: auto;
    padding: 6vh 17.5% 4vh 17.5%;
    background-color: #f5f5f5;
}