.recomendacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
section {
    align-items: flex-start;
}

.card {
    background-color: #59aadd;
    height: 277px;
    width:65vw;
    margin: 20px 0 20px 0;

    display: grid;
    grid-template-columns: 75% 15% 5%;
}

.artigo{
    width: 100%;
}

.texto {
    padding:15px 15px 0px 15px;
    margin: 0;
}

.titulo {
    padding: 0 10px 0 10px;
    margin: 0;
    font-size: 18px;
    text-align: left;

    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}

.titulo span {
    font-weight: 800;
}

.imagem {
    height: 277px;
}