@media screen and (max-width:1920px){
    .card{
        grid-template-columns: 85% 15% 5%;
    }
}

@media screen and (max-width:1074px){
    .lixeira {
        margin-left: 120px;
    }
}

@media screen and (max-width:800px){
    .lixeira {
        margin-left: 140px;
    }
}

@media screen and (max-width:768px){
    .card{
        height:250px;
    }
    .imagem{
        height:250px;
    }
    .lixeira {
        margin-left: 120px;
    }
}

@media screen and (max-width:600px){
    .card{
        height: 200px;
    }
    .titulo{
        font-size: 15px;
    }
    .texto{
        font-size: 15px;
    }
}

@media screen and (max-width:480px){
    .card{
        height: 200px;
    }
    .imagem{
        height: 200px;
    }
    .lixeira{
        margin-left: 120px;
    }

}

@media screen and (max-width:320px){

    .card{
        height: 150px;
    }
    .imagem{
        height: 150px;
    }
    .lixeira{
        margin-left: 120px;
    }

}