@media screen and (max-width:1075px){
    .descarte{
        display: none;
    }
}

@media screen and (max-width:850px){
    .imagem{
        width: 300px;
    }
    section p {
        font-size: 16px;
    }
}

@media screen and (max-width:740px){
    .imagem{
        display: none;
    }
}